/* General */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

:root {
  --general-black: #000000;
  --general-white: #FFFFFF;
  --bright-background: #81B3D2;
  --dark-text: #333333;
  --dim-icons: #A9A9A9;
  --body-background: #F2F2F2;
  --dark-background: #766357;
  --dim-background: #EEEEEE;
  --transparent-white: rgba(255, 255, 255, 0.9);
  --transparent-black: rgba(0, 0, 0, 0.3);
  --dark-hover: #604E43;
  --dark-active: #503E33;
  --ghost-white: rgba(255, 255, 255, 0.3);
  --bright-hover: #669EC0;
  --bright-active: #5496BD;
  --dim-border: #E5E5E5;
  --dim-arrow: #CACACA;
  --dim-text: #666666;
  --field-hover: #EBEBEB;
  --dim-logo: #BDBBBC;
  --general-shadow: rgba(0, 1, 1, 0.2);
  --full-transparent: rgba(0, 0, 0, 0);
}

html {
  height: 100%;
}

body {
  min-width: 1220px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: var(--general-black);
  text-transform: uppercase;
  background-color: var(--body-background);
  height: 100%;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 5px 15px var(--general-shadow);
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.button {
  font: inherit;
  font-weight: 700;
  text-align: center;
  text-transform: inherit;
  color: var(--general-white);
  vertical-align: middle;
  border: none;
}

.button.dark {
  background-color: var(--dark-background);
}

.button.dark:hover, .button.dark:focus {
  background-color: var(--dark-hover);
}

.button.dark:active {
  color: var(--ghost-white);
  background-color: var(--dark-active);
}

.button.bright {
  background-color: var(--bright-background);
}

.button.bright:hover, .button.bright:focus {
  background-color: var(--bright-hover);
}

.button.bright:active {
  color: var(--ghost-white);
  background-color: var(--bright-active);
}

/* Header */

.main-header {
  background-color: var(--general-white);
  text-align: center;
  position: relative;
}

.main-logo {
  position: absolute;
  left: 531px;
}

.main-header ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.main-header li {
  width: 153px;
}

.main-header li:nth-child(1), .main-header li:nth-child(2) {
  margin-left: 73px;
  text-align: left;
}

.main-header li:nth-child(3), .main-header li:nth-child(4) {
  margin-right: 73px;
  text-align: right;
}

.main-header li:nth-child(3) {
  margin-left: auto;
}

.main-header ul a {
  color: inherit;
  font-weight: 700;
  display: inline-block;
  padding-top: 15px;
  padding-bottom: 15px;
}

.main-header ul a:hover, .main-header ul a:focus {
  color: var(--bright-background);
}

.main-header ul a:active {
  color: var(--transparent-black);
}

.main-header ul a:not([href]) {
  color: var(--dark-background);
}

/* Footer */

.main-footer {
  background-color: var(--transparent-white);
  text-align: center;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
}

.contacts p {
  margin: 0;
  padding-top: 23px;
  font-size: 21px;
}

.social-networks ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 150px;
  padding-top: 26px;
  padding-bottom: 26px;
  display: flex;
  justify-content: space-between;
}

.social-networks a {
  display: inline-block;
  width: 46px;
  height: 48px;
}

.twitter::before {
  content: url(../img/twitter-logo.svg);
  position: relative;
  top: 15px;
  left: 1px;
}

.facebook::before {
  content: url(../img/facebook-logo.svg);
  position: relative;
  top: 13px;
}

.youtube::before {
  content: url(../img/youtube-logo.svg);
  position: relative;
  top: 14px;
}

.main-footer p:nth-child(3) {
  margin: 0;
  padding-top: 38px;
}

.main-footer p a {
  color: inherit;
  vertical-align: middle;
}

/* Index */

/* Main */

.index-main {
  background-color: var(--general-white);
  text-align: center;
}

/* Welcome */

.mountain {
  background-color: var(--dark-text);
  background-image: url(../img/background-index.jpg);
  background-repeat: no-repeat;
  background-position: center center;
}

.shape {
  background-image: url(../img/shape.svg);
  background-repeat: no-repeat;
  background-position: center bottom;
  height: 509px;
}

.welcome img {
  margin-top: 77px;
}

.welcome p {
  font-size: 21px;
  font-weight: 700;
  margin-top: 42px;
}

/* Reasons */

.reasons h2 {
  font-size: 14px;
  font-weight: 400;
  color: var(--dark-text);
}

.reasons ol, .reasons ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.reasons-item {
  line-height: 21px;
  color: var(--dark-text);
  background-color: var(--dim-background);
  width: 400px;
}

.reasons-item h3, .reasons-item h4 {
  font-size: 21px;
  color: var(--general-black);
}

.with-image {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.with-image div:first-child {
  color: var(--general-white);
  background-color: var(--bright-background);
  width: 400px;
}

.with-image h3 {
  color: var(--general-white);
}

.with-image img {
  background-color: var(--dim-icons);
}

.with-image:nth-child(2) img {
  order: -1;
}

.other-reasons .reasons-item {
  background-color: var(--general-white);
}

.house::before {
  content: url(../img/house.svg);
}

.burger::before {
  content: url(../img/burger.svg);
}

.gift::before {
  content: url(../img/gift.svg);
}

/* Search */

.search p b {
  font-size: 30px;
}

.search p:nth-child(3) {
  line-height: 24px;
  color: var(--dark-text);
}

.search .button {
  font-size: 21px;
}

.search img {
  background-color: var(--dim-icons);
}

/* Search-form */

.search-form {
  display: none;
}

/* Hotels */

/* Main */

.hotels-main {
  background-color: var(--general-white);
}

/* Filter */

.filter {
  color: var(--general-white);
  background-color: var(--dark-text);
  background-image: url(../img/background-hotels.jpg);
  background-repeat: no-repeat;
  background-position: center top;
}

.filter ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.filter fieldset {
  border: none;
}

.filter legend {
  font-size: 16px;
  font-weight: 700;
}

.filter input[type="checkbox"] + label::before {
  content: url(../img/checkbox-off.svg);
}

.filter input[type="checkbox"]:hover + label,
.filter input[type="checkbox"]:focus + label {
  border-bottom: 2px dotted var(--general-white);
}

.filter input[type="checkbox"]:checked + label::before {
  content: url(../img/checkbox-on.svg);
}

.filter .third-column ul {
  border: 2px solid var(--general-white);
}

.filter .third-column li {
  display: inline;
}

.filter .third-column li:last-child {
  border-left: 2px solid var(--general-white);
}

.filter .third-column input[type="text"] {
  border: none;
  background-color: var(--full-transparent);
  color: var(--general-white);
  font: inherit;
}

.filter button[type="submit"] {
  font-weight: 400;
  background-color: var(--full-transparent);
  border: 2px solid var(--general-white);
}

.filter button[type="submit"]:hover, .filter button[type="submit"]:focus {
  color: var(--general-black);
  background-color: var(--general-white);
  border: 2px solid var(--general-white);
}

/* Sorting */

.sorting {
  display: flex;
  padding-top: 29px;
  padding-bottom: 31px;
}

.sorting .first-column {
  width: 135px;
  margin-left: 73px;
}

.sorting p {
  font-size: 21px;
  font-weight: 700;
  margin: 0;
}

.sorting h3 {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  margin: 0;
}

.sorting ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sorting .second-column {
  width: 360px;
  margin-left: 29px;
  display: flex;
  vertical-align: top;
}

.sorting .second-column ul {
  width: 239px;
  margin-left: 40px;
  display: flex;
  justify-content: space-between;
}

.sorting .second-column a {
  color: var(--transparent-black);
  font-size: 12px;
  line-height: 18px;
  vertical-align: top;
  border-bottom: var(--bright-background) dotted;
}

.sorting .second-column a:hover, .sorting .second-column a:focus {
  color: var(--bright-background);
}

.sorting .second-column a:active {
  color: var(--general-black);
  border-bottom: none;
}

.sorting .second-column a:not([href]) {
  color: var(--bright-background);
  border-bottom: none;
}

.sorting .third-column {
  width: 34px;
  margin-right: 73px;
  margin-left: auto;
}

.sorting .third-column ul {
  display: flex;
  justify-content: space-between;
}

.ascending::before {
  content: url(../img/icon-up.svg);
}

.descending::before {
  content: url(../img/icon-up.svg);
}

/* Hotels-list */

.hotels-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.hotels-list .hotels-item {
  border-bottom: 1px var(--dim-border) solid;
}

.hotels-list .hotels-item:first-child {
  border-top: 1px var(--dim-border) solid;
}

article {
  display: flex;
  align-items: center;
}

article div:first-child {
  width: 258px;
  margin-left: 29px;
}

.hotels-list h3 a {
  color: inherit;
  font-size: 21px;
}

.hotels-list h3 a:hover, .hotels-list h3 a:focus {
  color: var(--bright-background);
}

.hotels-list h3 a:active {
  color: var(--transparent-black);
}

article img {
  margin-left: 73px;
  order: -1;
}

.hotels-list .type, .hotels-list .price {
  color: var(--dark-text);
  margin: 0;
  display: inline-block;
  width: 110px;
}

article div:last-child {
  margin-right: 73px;
  margin-left: auto;
  display: grid;
}

.stars ul {
  margin-bottom: 41px;
  display: flex;
  justify-content: flex-end;
}

.star::before {
  content: url(../img/star.svg);
}

.rating {
  color: var(--dim-text);
  background-color: var(--body-background);
}